Connecting Node-RED with Firebase/Basic Read Write Flow.json
[
    {
        "id": "71f327ace79dad2b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0dbbdcd093ffeb9",
        "type": "firebase modify",
        "z": "71f327ace79dad2b",
        "name": "",
        "firebaseconfig": "",
        "childpath": "D",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dca855fd342c7c32",
        "type": "serial request",
        "z": "71f327ace79dad2b",
        "name": "",
        "serial": "d8f48e85e72fac7a",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "c0dbbdcd093ffeb9"
            ]
        ]
    },
    {
        "id": "b57312551ffb3193",
        "type": "inject",
        "z": "71f327ace79dad2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "dca855fd342c7c32"
            ]
        ]
    },
    {
        "id": "4e6d5b86b004d739",
        "type": "firebase.on",
        "z": "71f327ace79dad2b",
        "name": "",
        "firebaseconfig": "",
        "childpath": "D",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "1542550fc7fca28c"
            ]
        ]
    },
    {
        "id": "1542550fc7fca28c",
        "type": "ui_chart",
        "z": "71f327ace79dad2b",
        "name": "",
        "group": "a1d21dc2ee09413a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d8f48e85e72fac7a",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a1d21dc2ee09413a",
        "type": "ui_group",
        "d": true,
        "name": "Guage",
        "tab": "01f9c6c97c778f0c",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01f9c6c97c778f0c",
        "type": "ui_tab",
        "name": "Water Quality Monitoring System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
