InterfacingArduinoWithNodeRED/TwoInputSerialPort_flow_ui.json
[
    {
        "id": "6b58cd62db06b1f7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de11dfed51e9e746",
        "type": "serial in",
        "z": "6b58cd62db06b1f7",
        "name": "",
        "serial": "d8f48e85e72fac7a",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "cd2d383fd621fb49"
            ]
        ]
    },
    {
        "id": "cd2d383fd621fb49",
        "type": "function",
        "z": "6b58cd62db06b1f7",
        "name": "function 1",
        "func": "var output = [];\nvar values= msg.payload.trim().split(\",\");\nfor (var i in values){\n    output.push({payload:values[i]})\n}\nreturn output;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "b0b44fb82ae6a814",
                "ae9177be0b89ddf4"
            ],
            [
                "8d90647d0e0e7269",
                "e6e245533eb1e3fd"
            ]
        ]
    },
    {
        "id": "b0b44fb82ae6a814",
        "type": "ui_gauge",
        "z": "6b58cd62db06b1f7",
        "name": "",
        "group": "f6266a867d1ddcda",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}} cm",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "150",
        "seg2": "300",
        "className": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d90647d0e0e7269",
        "type": "ui_text",
        "z": "6b58cd62db06b1f7",
        "group": "a1d21dc2ee09413a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Button State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae9177be0b89ddf4",
        "type": "debug",
        "z": "6b58cd62db06b1f7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": [],
        "inputLabels": [
            "2"
        ]
    },
    {
        "id": "e6e245533eb1e3fd",
        "type": "debug",
        "z": "6b58cd62db06b1f7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "d8f48e85e72fac7a",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f6266a867d1ddcda",
        "type": "ui_group",
        "name": "Charts",
        "tab": "01f9c6c97c778f0c",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1d21dc2ee09413a",
        "type": "ui_group",
        "name": "Guage",
        "tab": "01f9c6c97c778f0c",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01f9c6c97c778f0c",
        "type": "ui_tab",
        "name": "Water Quality Monitoring System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
